
.scatter-plot.series-1, .chart-column.series-1 {
  stroke: var(--chart-series-1-color);
}

.legend {
  rect.series-1 {
    fill: var(--chart-series-1-color);
  }
  rect.series-2 {
    fill: var(--chart-series-2-color);
  }
  text {
    font-size: 10pt;
    font-family: var(--interface-font);
  }
}

.scatter-plot.series-2, .chart-column.series-2 {
  stroke: var(--chart-series-2-color);
}


