
/* 
  borrowing from insert function dialog's function search results.
  TODO: unify as a list box style
*/
.listbox {

  overflow-y: scroll;
  /* height: 20em; */
  height: 100%;

  font-size: var(--base-font-size);
  border: 1px solid var(--dialog-line-color);

  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;

  
  li {

    user-select: none;

    .name {
      font-weight: 600;
    }

    & > * {
      pointer-events: none;
    }

    padding: 1em .5em 1em 1em;

    &:hover {
      background-color: rgb(from var(--dialog-border-color) r g b / .07);
    }

  }

  li.selected {
    background-color: var(--dialog-border-color);
    color: var(--dialog-title-color);
  }

  li + li {
    border-top: 1px dotted var(--dialog-line-color);
  }

}

.expanded {
  min-width: 360px;
}
