
.palette-editor {

  border: 1px solid var(--border-subtle);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--palette-input-background);
  border-radius: 3px;
  padding: 7px 4px;
  max-width: 25em;
  width: calc(100% - 1em);

  position: relative;
  font-size: 13px;
  height: 32px;

  padding-left: 1.75em;

  &:before {
    content: attr(data-prompt);
    position: absolute;
    left: .5em;
  }

  /*
  &:not(:focus-within):after {
    content: attr(data-placeholder);
    opacity: .5;
  }
  */

}

.container {
  margin: 0 .5em;
  position: relative;
  width: 100%;
  max-width: 25em;
}

.container:not(:has(:focus, :popover-open)) {
  .palette-editor {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .palette-editor:after {
    content: attr(data-placeholder);
    opacity: .5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}


.menu {
  margin: 0;
  transform-origin: top left;
  border: 1px solid var(--border-subtle);
  margin-top: 3px;
  min-height: 13em;
  max-height: 25%;
  height: 20em;
  overflow: hidden;
  box-shadow: var(--palette-menu-shadow);

  &:popover-open {
    display: flex;
    flex-direction: column;
  }

  & > .label {
    padding: .3em .5em .3em .5em;
    border-bottom: 1px dotted currentColor;
  }

  ul, menu {

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;

    li {
      margin: 0;
      padding: .3em .5em;
      user-select: none;
      scroll-snap-align: start;

      &.selected {
        background: var(--palette-selected-background);
      }

    }

  }
  
}

