
.toolbar.toolbar {

  /* 
   special handling to make the command palette take up extra space.
   we could probably expand login instead, it doesn't matter. but this
   is fragile
   */

  grid-template-columns: repeat(6, auto) 1fr repeat(5, auto);

  column-gap: 1em;

  & > * {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  background: var(--toolbar-bar-background);

  &.account-toolbar {
    grid-template-columns: auto auto 1fr auto 1em;

  }

  menu hr {
    border: none;
    height: 1px;
    width: 100%;
    background: currentColor;
    opacity: 40%;
  }

}

a {
  text-decoration: none;
  color: inherit;
}

label.tab {
  padding: 0 1em;
  &:has(input:checked) {
    background: var(--toolbar-surface-color);
  }
}

.toolbar-icon {
  font-size: 16px;
}

.toolbar-button {
  
  --toolbar-control-size: 28px;
  --toolbar-control-border-radius: 0px;

  border: 1px solid transparent;
  border-radius: var(--toolbar-control-border-radius);
  width: var(--toolbar-control-size);
  height: var(--toolbar-control-size);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  gap: .5em;
  line-height: 0;


    &:not([disabled]):hover {
      background: var(--toolbar-control-hover-background);
      color: var(--toolbar-control-hover-color);
      border-color: var(--toolbar-border-color);
    }

    &.active {
      background: var(--toolbar-control-active-background);
      color: var(--toolbar-accent-color);
      border-color: var(--toolbar-accent-color);
    }

    &.active:not([disabled]):hover {
      border-color: var(--toolbar-accent-color);
    }

  svg {
    font-size: 16px;
  }

  &.text-button {
    width: auto;
  }

}

.tab-content {
  background: var(--toolbar-surface-color);
  height: 4em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.group + .group {
  border-left: 1px solid var(--toolbar-border-color);
  border-left: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  padding-left: 1em;
  margin-left: 1em;
}

.logo {
  padding: .5em 0 .5em .5em;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 25px;
}

.menubar {
  grid-row: 1/2;
  grid-column: 2/3; /* FIXME: separator before menu? */
  gap: 1em;
}

button.menu-item, a.menu-item {

  will-change: transform; /* prevents subpixel shift on color change */

  min-width: fit-content;
  min-height: var(--toolbar-control-size);
  padding-right: 1em;
  padding-left: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border: none;
  background: transparent;
  cursor: pointer;
  transition: all var(--toolbar-transition-delay);
  overflow: hidden;

  /*

  border: 1px solid transparent;

  */

  display: flex;
  flex-direction: row;
  gap: 1em;
  border: none;
  background: transparent;

  &.composite {
    line-height: 0;
  }

  svg { 
    font-size: var(--icon-size); 
  }

  .svg-placeholder {
    font-size: var(--icon-size); 
    width: 1em;
  }

  &:not([disabled]):hover {

    background: var(--toolbar-control-hover-background);
    color: var(--toolbar-control-hover-color);
    
    /*
    background: var(--toolbar-control-hover-background);
    */
  }

}

a.menu-item.disabled {
  pointer-events: none;
  opacity: .5;
}

.page-title {
  grid-row: 1/2;
}

.command-palette-container {
  grid-row: 1/2;
}

.login {
  grid-row: 1/2;
}

.theme-toggle {
  grid-row: 1/2;
}

.trailer {
  grid-row: 1/2;
  padding-right: 1em;
  display: flex;
  align-items: center;
  gap: .5em;
}

.separator {
  grid-row: 1/2;
  width: 1px;
  border-left: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  height: 100%;
}

menu.horizontal.horizontal.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;

  padding: 0 .5em 0 .5em;
  margin: 0;
}

menu.text.text {
  li {
    padding: 0;
  }
}

menu.text.overflow {
  max-height: 50vh;
  max-height: 50dvh;
  overflow-y: auto;
}


.toolbar-split-button {

  width: var(--toolbar-control-size);
  height: var(--toolbar-control-size);
  border-radius: var(--toolbar-control-border-radius);

  /* color: var(--toolbar-control-color); */
  color: var(--toolbar-control-text-color);
  svg {
    color: var(--toolbar-control-icon-color);
  }

  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
  overflow: hidden;

  & > button {
    background: transparent;
    cursor: pointer;
    color: inherit;
    border: 0px solid transparent;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    &:hover {
      background: var(--toolbar-control-hover-background);
      color: var(--toolbar-control-hover-color);
      border-color: var(--toolbar-border-color);
    }

    &.active {
      background: var(--toolbar-control-active-background);
      color: var(--toolbar-accent-color);
      border-color: var(--toolbar-accent-color);
    }

  }

}

.toolbar-button.color-button {
    position: relative;
    overflow: visible;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      background: var(--applied-color);
      height: 3px;
      box-shadow: 0px 0px 1px 1px var(--toolbar-swatch-shadow-color);
    }
  }

.color-picker {

  padding: 1em;

  h1 {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    border-bottom: 1px solid currentColor;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1em;
  }

  .swatches {
    display: grid;
    row-gap: 8px;
    column-gap: 8px;

    button.swatch {
      border: 1px solid var(--toolbar-border-color);
      padding: 0;
      margin: 0;
      background-color: var(--swatch-color);
      height: 18px;
      width: 18px;
      font-size: 16px;
    }

  }

}

.plaintext-button {
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.composite-label {
  padding-left: .5em;
  padding-right: .5em;
}

