
.controls {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 0 2em;

  .filter {
    width: 24em;
  }

  .clear {
    border: none;
    background: transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

}

.table-container {
  overflow-y: scroll;
  padding: 0 1em;
}

.document-link {
  color: var(--link-color);
  text-decoration: none;
}

.table {

  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  text-overflow: ellipsis;
  width: 100%;

  .header, .row {
    display: contents;
    user-select: none;

    & > * {
      padding: .85em 1em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--border-subtle);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

  }

  .header {
    & > * {
      position: sticky;
      display: flex;
      top: 0px;
      background: Canvas;
    }

    button {
      border: none;
      background: transparent;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5em;
      line-height: 0;      
      min-height: 2em;
      font-weight: bold;

      .icon-placeholder {
        font-size: 12px;
        width: 1em;
        opacity: .2;

        &.active {
          opacity: 1;
        }
      }

      svg {
        font-size: 12px;
      }

      & > span {
        transition: all .2s ease;
      }

      .rotate {
        transform: rotate(180deg);
      }

    }

  }

  .row {

    &:hover > * {
      background: var(--overlay-faintest);
    }
  }

  .row, .header {
    & > * {
      text-align: right;
      justify-content: flex-end;
    }

    & > .left {
      text-align: left;
      justify-content: flex-start;
    }

    & > .center {
      text-align: center;
      justify-content: center;
    }

    & > .left-pad {
      padding-left: 2em;
    }

  }

}

.layout {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr 1em;
  padding: 2em 1em;
  flex-grow: 1;
  row-gap: 1em;
}
