
dialog {

  background: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 100vw;  
  height: 100vh;  
  width: 100dvw;  
  height: 100dvh;  
  border: none;
  z-index: 98;
  pointer-events: none;

  &::backdrop {
    display: none;
  }
}

.frame {

  pointer-events: initial;
  background: #fff;
  z-index: 99;  
  margin: 0;
  padding: 0;
  border: 1px solid currentColor;
  border-radius: 5px;
  position: relative;
  width: fit-content;
  display: grid;
  box-shadow: var(--dialog-box-shadow, 1px 10px 18px 1px rgba(0,0,0,0.124));

  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;

  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;

  .dialog-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: .5em;

    & > button {
      width: 1em;
      height: 1em;
      font-size: 18px;
      border: none;
      background: transparent;
      font-family: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      color: var(--dialog-button-color, currentColor);

    }

  }

  /*
  button.closebox {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid currentColor;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  */

  button.resize-grip {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0;
    background: transparent;
    border: var(--dialog-resize-handle-size, 10px) solid transparent;
    border-bottom-color: var(--dialog-resize-handle-color, #888);
    border-right-color: var(--dialog-resize-handle-color, #888);
    cursor: nwse-resize;
    z-index: 10;
  }



  header {
    grid-row: 1/2;
    order: 0;
    & > * {
      pointer-events: none;
    }
  }

  &.moveable > header {
    cursor: move;
  }

  section {
    grid-row: 2/3;
    padding: 1em;
    overflow: hidden;
  }

  footer {
    grid-row: 3/4;
    border-top: 1px dotted currentColor;
    padding: 1em;
    display: flex;
    flex-direction: row;
  }

  .mouse-mask {

    display: none;

    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;

    background: transparent;

    &.move {
      cursor: move;
    }

    &.resize {
      cursor: nwse-resize;
    }

    &.visible {
      display: block;
    }

  }

}
