
.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; 
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.gap-1 {
  gap: 1em;
}

.gap-0_5 {
  gap: 0.5em;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.ellipsis {
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.hidden {
  visibility: hidden;
  pointer-events: none; /* is this not implicit? */
}

.display-contents {
  display: contents;
}

.fit-content {
  width: fit-content;
}

.debug-border {
  border: 1px dashed red;
}

.padding-1 {
  padding: 1em;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}
