
.layout {
  padding: 1em .5em;
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 100%;;
}

.tab-container {

  column-gap: 1em;
  grid-template-columns: auto auto 1fr;
  overflow: hidden;

  .tab-pane {
    & > label {
      padding: 0 2px 6px 0;
      margin: 0 0 1em 0;
      border-bottom: 3px solid transparent;

      &:has(input:checked) {
        border-bottom-color: var(--sidebar-tab-active-color);
      }

    }

    & > div {
      display: flex;
      flex-direction: column;
    }

  }


}

.trailer {
  margin-top: 0;
  text-align: right;
  overflow: hidden;

  & > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}



.controls {

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 0;

  textarea {
    padding: .5em;
    font-family: inherit;
    font-size: inherit;
    font-size: var(--llm-chat-font-size);
    resize: none;
    flex-grow: 1;
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.settings-layout {

  display: flex;
  flex-direction: column;
  gap: 1em;

  fieldset {
    legend {
      padding: 0 .5em;
    }
    p {
      margin: 1em 0 0 0 ;
      &:last-child {
        margin-bottom: 1em;
      }
    }
  }

  section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

.messages {
  border-top: 1px solid var(--border-subtle);
  border-bottom: 1px solid var(--border-subtle);
  font-size: var(--llm-chat-font-size);
  display: flex;
  flex-direction: column;
}

.message {

  padding: .5em;
  display: flex;
  flex-direction: column;

  * {
    line-height: 1.5;
  }

  .part {
    padding: .5em 0 1em .5em;
  }

  details.part:not([open]) {
    padding-bottom: .5em;
  }

  &.user .text {
    width: 90%;
    align-self: flex-end;
    background: var(--sidebar-message-user-background);
  }

  .thinking {
    background: var(--overlay-faint);
    &[open] summary {
      margin-bottom: 1em;
    }
  }

  .tool_use, .tool_result {
    /* background: color-mix(in srgb, orange 5%, transparent); */
  }

}

.md {

  li {
    margin-bottom: 1em;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

}

