
.tab-container {

  column-gap: 1em;

  .tab-pane {
    & > label {
      padding: 0 2px 6px 0;
      margin: 1em 0 1em 0;
      border-bottom: 3px solid transparent;

      &:has(input:checked) {
        border-bottom-color: orange;
      }

    }

    & > div {
      display: flex;
      flex-direction: column;
    }

  }


}

.messages {
  border-top: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  border-bottom: 1px solid color-mix(in srgb, currentColor 30%, transparent);
}

.controls {

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;

  textarea {
    padding: .5em;
    font-family: inherit;
    font-size: inherit;
    font-size: var(--llm-chat-font-size);
    resize: none;
    flex-grow: 1;
    border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
    border-radius: 3px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
