
nav {
  margin-right: 1em;
  height: 100%;
  /*
  border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: .5em;

}

header {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sidebar-header-background);
  font-weight: bold;
  padding: .35em .5em;
  font-size: 1.2rem;

  button.close-sidebar {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

}

.container {
  display: contents;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.find-layout {
  padding: 1em .5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  row-gap: 1em;
  height: 100%;
}

.find-grid-table {
  grid-template-columns: auto auto 1fr;
  overflow: hidden;
}

.notes-layout {
  padding: 1em .5em;
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template-rows: 1fr auto;

  .tab-layout {

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto 1fr;
    overflow: hidden;
    column-gap: 0;
    row-gap: 0;

    .tab {
      display: contents;
    }

    .tab > input {
      grid-row: 2/3;
      appearance: none;
      padding: .35em 1em;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      margin: 0;

      &:after {
        content: attr(data-label);
      }

      &:checked {
        background: var(--sidebar-notes-tab-active-background);
      }

    }

    .tab > :nth-child(2) {
      grid-row: 1/2;
      grid-column: 1/-1;
      width: 100%;
      height: 100%;
      resize: none;
      font-family: inherit;
      font-size: 16px;
      overflow: hidden;
      border-radius: 3px;
      border: 1px solid var(--sidebar-input-border-color);
      display: none;
      overflow-y: scroll;
      padding: .5em 1em;
    }

    .tab:has(input:checked) > :nth-child(2) {
      display: block;
    }

    .markdown {
      a {

        &[href^="ref:"] {
          text-decoration: none;
          color: var(--sidebar-link-color);
          font-weight: 500;
        }

        &:not([href^="ref:"]) {
          text-decoration: underline;
          color: var(--sidebar-link-color);

          /*
          &::after {
            content: '';
            top: 2px;
            width: 16px;
            height: 16px;
            position: relative;
            display: inline-block;
            padding-left: 13px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
          }
          */
        }

      }

      p {
        margin-top: 1em;
        margin-bottom: 1em;
      }

    }

  }

}

.fit-data-layout {

  padding: 1em .5em;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  position: relative;
  row-gap: 1em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto auto;

  & > * {
    min-height: fit-content;
  }

  & > .chart {
    min-height: 0;
    flex-grow: 1;
  }

  hr {
    opacity: 30%;
    width: 100%;
  }

  h1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 1em;
    margin-bottom: .5em;

    &.copy-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        background: transparent;
        font-size: inherit;
        font-family: inherit;
      }

    }

  }

  p {
    padding: 0;
    margin: 0;
  }

  .boxed {
    border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 0;
    padding: .5em .5em;

    .row {
      display: contents;
      line-height: 1.8;

      & > * {
        padding: .25em .5em;
      }

      & > :nth-child(2) {
        text-align: right;
      }

      &:hover > * {
        background: var(--sidebar-row-hover-background);
      }

    }

  }

  .graph-container {
    border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
    overflow: hidden;

    line-height: 0;
    svg {
      line-height: 0;
      height: 100%;
    }
    padding: 0;
    margin: 0;
    
  }

  .fit-data {
    stroke: var(--sidebar-fit-data-color);
    stroke-width: 2;
    fill: none;
  }

  .fit-theoretical {
    stroke: var(--sidebar-fit-theoretical-color);
    stroke-width: 2;
    fill: none;
  }

}

.names-layout {

  padding: 1em .5em;
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  .lambda-editor {
    overflow: hidden;
    textarea {
      width: 100%;
      height: 100%;
      padding: .5em;
      border-radius: 3px;
      resize: none;
      font-family: inherit;
      font-size: 16px;
      line-height: 1.4;
    }
  }

  .names-table {
    overflow: hidden;
    grid-template-columns: auto auto auto auto;

    :global(.grid-table-row > *) {
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.quick-view-layout {
  padding: 1em .5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  overflow: hidden;
  row-gap: 1em;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;

  & > div {
    overflow: hidden;
  }

  & > div + div {
    border-top: 1px solid color-mix(in srgb, currentColor 30%, transparent);
    padding-top: 1em;
  }

  :global(.tab-container) {
    column-gap: .75em;
  }

  :global(.tab) {
    border-bottom: 3px solid transparent;
    padding: .5em;
    margin-bottom: .5em;
    padding-bottom: 0;
    &:has(input:checked) {
      border-bottom: 3px solid var(--sidebar-tab-active-color);
    }
  }

  .trailer {
    grid-row: 1/2;
    grid-column: 3/-1;
    text-align: right;
    border-bottom: 3px solid transparent;
    padding: .5em;
    padding-bottom: 0;
    margin-bottom: .5em;
  }

  :global(.tab-content) {

    display: block;
    position: relative;
    min-height: 40%;
    padding: 1em 0 0 0 ;
  }

  /*
  :global(.tab:has(input:checked)) {
    border-bottom: 3px solid red;
  }
  */


  .chart-container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .box-stats-table {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 14px;
    overflow: hidden;

    .row {
      display: contents;
      &:hover {
        & > div {
          background: var(--sidebar-row-hover-background-subtle);
        }

      }

      & > div {
        padding: .375em 1em;
      }

      .value {
        text-align: right;
      }

      
    }

    .separator {
      grid-column: 1/-1;
      border-top: 1px solid color-mix(in srgb, currentColor 30%, transparent);
      margin-top: .5em;
      padding-top: .5em;
      display: block;
    }

  }

  .no-data {
    grid-row: 2/3;
    grid-column: 1/-1;
    z-index: 99;
    display: none;
    padding: 1em 1em;

    p {
      margin-bottom: 0;
      margin-top: 1em;
      font-size: 16px;
    }

    p:last-of-type {
      margin-bottom: 1em;
    }

    button {
      /* border: 1px solid color-mix(in srgb, currentColor 30%, transparent); */
      border: 1px solid transparent;
      border-radius: var(--toolbar-control-border-radius);
      height: var(--toolbar-control-size);
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: transparent;
      font-size: 16px;
      font-family: inherit;
      gap: .5em;
      line-height: 0;

      &:not([disabled]):hover {
        background: var(--toolbar-control-hover-background);
        color: var(--toolbar-control-hover-color);
        border-color: var(--toolbar-border-color);
      }

      &.active {
        background: var(--toolbar-control-active-background);
        color: var(--toolbar-accent-color);
        border-color: var(--toolbar-accent-color);
      }

      &.active:not([disabled]):hover {
        border-color: var(--toolbar-accent-color);
      }

    }

    &.visible {
      display: block;
    }

  }

}

.simulation-settings-layout {
  padding: 1em .5em;

  h1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 1em;
    margin-bottom: .5em;
  }

  .table {

    display: flex;
    flex-direction: column;
    gap: .5em;

    label {
      display: flex;
      flex-direction: row;
      gap: .5em;
    }

    margin-bottom: 2em;

  }

  .explainer {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .links {
    margin-top: 1em;
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
  }

}
